services:
	-
		class: Bonami\Collection\Phpstan\LateStaticBindingStaticMethodReturnTypeExtension
		factory: Bonami\Collection\Phpstan\LateStaticBindingStaticMethodReturnTypeExtension::forMethods('Bonami\Collection\ArrayList', ['fromEmpty', 'of', 'fill', 'fromIterable'])
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: Bonami\Collection\Phpstan\LateStaticBindingStaticMethodReturnTypeExtension
		factory: Bonami\Collection\Phpstan\LateStaticBindingStaticMethodReturnTypeExtension::forMethods('Bonami\Collection\Map', ['fromAssociativeArray', 'fromOnly', 'fromEmpty', 'fromIterable'])
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
