includes:
    - extension.neon
parameters:
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
    level: 9
    paths:
        - src/
        - tests/
    tmpDir: /tmp/phpstan
